@{
    ViewData["Title"] = "ReportesCoor";
    Layout = "_LayoutSGPI";
}
<style>
    body {
        background: #DCDDDF
    }
</style>
<form action="" class="form-inline justify-content-center">
    <center>
        <!--menu-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Menú</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Coordinador/BuscarCoordinador">Buscar<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Coordinador/ProgramarAsignatura">Programar Asignatura</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Coordinador/Homologacion">Homologación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Coordinador/Entrevista">Entrevistas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Coordinador/ReportesCoor">Reportes</a>
                    </li>
                </ul>
                <div style="text-align:right">
                    <a href="/Administrador/Login" id="regresar">Cerrar Sesión</a>
                </div>
            </div>
        </nav>
        <h1 align="center">Reportes Coordinador</h1>
    </center>
</form>
<label>Tipo de Documento</label>
<div class="input-group">
    <br />
    <select class="form-select col-sm-3" aria-label="Default select example">

        <option selected="1">Cedula de Ciudadania</option>
        <option value="2">Tarjeta de Extranjeria</option>
        <option value="3">Ninguno</option>
    </select>&nbsp;&nbsp;
    <br />
    <input type="text" value="1000205450" class="form-control col-sm-3" id="Reportesuariotxt" required />&nbsp;&nbsp;

</div>
<br />

<form action="" class="form-inline justify-content-center">
    <center>
        <table class="default" border="1">

            <tr>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Genero</th>
                <th>Documento</th>
                <th>Programa</th>
                <th>Rol</th>
                <th>Correo Electronico</th>
            </tr>

            <tr>

                <td>Andres</td>
                <td>Ramirez</td>
                <td>Meneses</td>
                <td>Masculino</td>
                <td>100205450</td>
                <td>Tecnologia en Sistemas</td>
                <td>Coordinador</td>
                <td>yeison.ramirez90@correo.edu.co</td>

            </tr>
            <br />
            <tr>

                <td> <br /></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

            <tr>
                <td> <br /></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

        </table>
        <br />
        <button type="button" class="btn btn-outline-danger" id="crearbtn type" submit>Generar </button>
    </center>

</form>




